body {
	background-color: #efeee7;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #333333;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333333;
}

h1 {
	color: #eee;
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

#main-bio, #contact-info, #bio-image {
	float: left;
}

#bio-image {
	width: 200px;
	margin: 0px 20px;
}

#contact-info {
	width: 30%;
	line-height: 150%;
}

#main-bio {
	width: 70%;
}

a {
	color: #d21034;
}
